<?xml version="1.0" encoding="UTF-8"?>
<configuration>

	<include resource="org/springframework/boot/logging/logback/defaults.xml"/>

	<appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>%clr(%d{${LOG_DATEFORMAT_PATTERN:-yyyy-MM-dd HH:mm:ss.SSS}}){faint} %clr(${LOG_LEVEL_PATTERN:-%5p}) %clr(${PID:- }){magenta} %clr(---){faint} %clr([%15.15t]){faint} %clr(%-40.40logger{39}){cyan} %clr(:){faint} [TraceID: %X{requestId}] [IP: %X{userIp}] %m%n${LOG_EXCEPTION_CONVERSION_WORD:-%wEx}</pattern>
		</encoder>
	</appender>

	<appender name="JSON_ROLLING_FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>logs/application.json</file>

		<rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
			<fileNamePattern>logs/archived/app-%d{yyyy-MM-dd}.%i.json.gz</fileNamePattern>

			<maxFileSize>5MB</maxFileSize>

			<maxHistory>30</maxHistory>

			<totalSizeCap>1GB</totalSizeCap>
		</rollingPolicy>

		<encoder class="net.logstash.logback.encoder.LogstashEncoder">
			<jsonGeneratorDecorator class="net.logstash.logback.decorate.PrettyPrintingJsonGeneratorDecorator"/>
		</encoder>
	</appender>

	<springProfile name="dev">
		<root level="INFO">
			<appender-ref ref="CONSOLE" />
		</root>
	</springProfile>

	<springProfile name="prod">
		<root level="INFO">
			<appender-ref ref="CONSOLE" />
			<appender-ref ref="JSON_ROLLING_FILE" />
		</root>
	</springProfile>

	<springProfile name="!dev &amp; !prod">
		<root level="INFO">
			<appender-ref ref="CONSOLE" />
		</root>
	</springProfile>

</configuration>
